body, html{
    height: 100%;
    background: #ea5e65 !important;
    font-family: Arial, Helvetica, sans-serif;
  }
  .image-position{
      position: absolute;
      left: 3%;
  }
  .image-position img{
      width: 70%;
  }
  
  .center-block{
      width: 100%;
  }
  h2 {
      color: #AAAAAA;
      font-weight: normal;
  }
  .bg-for-submit-name
  {
      background: url('https://lh4.ggpht.com/GLT1kYMvi4oiguL9FOc1eM5q7sW0AvVJNWyBZ26iMq-BSm3Kpi9CPDR2UGoVlYrVwA=h900') fixed;
      background-size: cover;
      padding: 0;
      margin: 0;
  }
  .margin-top{
      margin-top: 270px;
  }
  
  .wrap
  {
      width: 100%;
      height: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
  }
  
  p.form-title
  {
      font-family: 'Open Sans' , sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #FFFFFF;
      margin-top: 5%;
      text-transform: uppercase;
      letter-spacing: 4px;
  }
  
  form
  {
      width: 250px;
      margin: 0 auto;
  }
  
  form.login input[type="text"], form.login input[type="password"]
  {
     width: 100%;
      margin: 0;
      padding: 5px 10px;
      background: #fff;
      border: 0;
      border-bottom: 3px solid #75ba48;
      outline: 0;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 10px;
      color: #000;
      outline: 0;
  
  }
  
  form.login input[type="submit"]
  {
      width: 100%;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 16px;
      outline: 0;
      cursor: pointer;
      letter-spacing: 1px;
  }
  
  form.login input[type="submit"]:hover
  {
      /* transition: background-color 0.5s ease; */
  }
  
  .btn-success {
      color: #fff;
      background-color: #75ba48;
      border-color: #75ba48;
      width: 100%;
      /* font-weight: 600 !important; */
      padding: 7px 10px;
      font-size: 15px !important;
      border-radius: 0px;
      word-spacing: 4px;
      letter-spacing: 1px;
  
  }
  .btn-success:hover {
      color: #fff !important;
      background-color: #2FC0AE !important;
      border-color: #2FC0AE !important;
  }
  form.login label, form.login a
  {
      font-size: 12px;
      font-weight: 400;
      color: #FFFFFF;
  }
  
  form.login a
  {
      transition: color 0.5s ease;
  }
  
  form.login a:hover
  {
      color: #2ecc71;
  }
  
  .pr-wrap
  {
      width: 100%;
      height: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      display: none;
  }
  
  .show-pass-reset
  {
      display: block !important;
  }
  
  .pass-reset
  {
      margin: 0 auto;
      width: 250px;
      position: relative;
      margin-top: 22%;
      z-index: 999;
      background: #FFFFFF;
      padding: 20px 15px;
  }
  
  .pass-reset label
  {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 15px;
  }
  
  .pass-reset input[type="email"]
  {
      width: 100%;
      margin: 5px 0 0 0;
      padding: 5px 10px;
      background: 0;
      border: 0;
      border-bottom: 1px solid #000000;
      outline: 0;
      font-style: italic;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 5px;
      color: #000000;
      outline: 0;
  }
  
  .pass-reset input[type="submit"]
  {
      width: 100%;
      border: 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 10px;
      outline: 0;
      cursor: pointer;
      letter-spacing: 1px;
  }
  
  /*----------quiz.css---------------*/
  
  
  .loanParamsLoader {
      top: 143px;
      margin: auto;
      position: absolute;
      right: 17%;
      width: 135%;
  }
  .question {
    background: #eb5d64;
    color: #fff;
    font-size: 16px;
    position: absolute;
    height: auto;
    padding-bottom: 10px;
    width: 330px; 
    right: 0px;
    top: 30px;
}
.question h3{
    font-size: 14px !important;
}
.question span{
    float: left;
    margin-left: 5%;
    color: #fff;
}
  

  .container ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  ul li{
    display: block;
    position: relative;
    float: left;
    width: 50%;
    height: 30px;
  }
  
  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    margin: 3px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    /* -webkit-transition: all 0.25s linear; */
}
  
  ul li:hover label{
      color: #FFFFFF;
  }
  
  ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    top: 30px;
    left: 20px;
      z-index: 5;
      /* transition: border .25s linear;
      -webkit-transition: border .25s linear; */
  }
  
  ul li:hover .check {
    border: 5px solid #FFFFFF;
  }
  
  ul li .check::before {
    display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 14px;
      width: 14px;
      top: 3px;
      left: 3px;
    margin: auto;
      /* transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear; */
  }
  
  /* input[type=radio]:checked ~ .check {
    border: 5px solid #fff;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: #00FF00;
  }
  
  input[type=radio]:checked ~ label{
    background: #00FF00;
    color: #fff;
  } */
  
  #result-of-question th{
    text-align: center;
    background: #ffca04;
    color: #fff;
    border: none;
  }
  #result-of-question  td{
    text-align: center;
    color: #222;
    background-color: #fff;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #75ba48;
  }
  
  #totalCorrect{
    width: 100%;
    color: #fff;
    background: #ffca04;
    font-size: 20px;
    border-bottom: 1px solid;
    padding-left: 10px;  
    text-align: -webkit-left;
  }
  #alert{
      /* Position fixed */
      position:fixed;
      /* Center it! */
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
  }
  /*----------riple bubble-----------------*/
  ul {
      margin: 0 auto;
  }
  /*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
  .ink {
      display: inline; 
      position: absolute;
      background: #75ba48;
      border-radius: 100%;
      transform: scale(0);
  }
  /*animation effect*/
  /* .ink.animate {animation: ripple 0.65s linear;}
  @keyframes ripple { */
      /*scale the element to 250% to safely cover the entire link and fade it out*/
      /* 100% {opacity: 0; transform: scale(2.5);}
  } */
  
  .quiz
  {
    width: 300px;
    text-align: -webkit-center;
    font-size: 16px;
    position: relative;
    bottom: 200px;
    height: 37px;
  }
  .opYes, .opNo
  {
    width: 75px;
    height: 25px;
    border: 1px solid;
  }


@-webkit-keyframes blink { 50% { border-color: #ff0000; }  }
.box{ 
    width: 70px;
    height: 70px;
    border-radius: 50%;    
    border: 5px solid #000;
    position: relative;
    top: 46px;
    left: 192px;
	-webkit-animation: blink .5s step-end infinite alternate; 
}
.table-img h3
{
    color: #fff;
}
.righttick
{
    color: #0ee436;
    position: relative;
    right: 8px;
}
.wrongtick
{
    color: #e40e0e;
    position: relative;
    right: 8px;
}


i#rightno {
    position: relative;
    left: -50px;
    bottom: 23px;
    font-size: 24px;
}
i#wrongno {
    position: relative;
    right: 28px;
    font-size: 24px;
}
i#wrongyes {
    position: relative;
    right: 50px;
    font-size: 24px;
    bottom: 24px;
}
i#right {
    position: relative;
    right: 30px;
    font-size: 24px;
}
.resultdis
{
    width: 900px;
    margin-top: -48%;
    position: relative;
}
